.carousel {
  position: relative;
  top: 100px;
  left: 5%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-images img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
  border-radius: 100px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
